<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="{% block description %}Coding, software, development{% endblock %}">
	<meta name="author" content="{{ AUTHOR }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="{{ SITEURL }}/theme/html5.js"></script>
		<![endif]-->
	<link href="{{ SITEURL }}/theme/css/ipython.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/simplex/bootstrap.min.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/local.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
	{% block head %}{% endblock %}
</head>
<body>
<div class="container">
	<div class="page-header">
		<h1><a href="{{ SITEURL }}">{{ SITENAME }}</a>
            <br><small>{{ SITESUBTITLE }}</small></h1>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			{% block content %}{% endblock %}
		</div>
	</div> {# End row #}
	<!-- <hr> -->
</div> <!-- /container -->
<footer class="aw-footer bg-danger">
	<div class="container"> <!-- footer -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-md-4">
						<h4>Blog</h4>
						<ul class="list-unstyled my-list-style">
                            <li><a href="{{ SITEURL }}"><i class="fa fa-book"></i> Home</a></li>
                            <li><a href="{{ SITEURL }}/tags.html"><i class="fa fa-tags"></i> Tags</a></li>
                            <li><a href="{{ SITEURL }}/archives.html"><i class="fa fa-archive"></i> Archives</a></li>
                            <li><a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}"><i class="fa fa-rss "></i> rss</a></li>
                            <li><a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}"><i class="fa fa-rss"></i> atom</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h4>Author</h4>
						<ul class="list-unstyled my-list-style">
                            <li><a href="http://github.com/brandonw"><i class="fa fa-github"></i> Github</a></li>
                            <li><a href="{{ SITEURL }}/pdfs/resume.pdf"><i class="fa fa-file-pdf-o"></i> Resum&#233;</a></li>
						</ul>
					</div>
					<div class="col-md-4">
						<h4>Categories</h4>
						<ul class="list-unstyled my-list-style">
							{% for category, articles in categories %}
                            <li><a href="{{ SITEURL }}/{{ category.url }}">{{ category }} ({{ articles | count}})</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center center-block aw-bottom">
			<p>&copy; {{ AUTHOR }} 2014</p>
            <p>Powered by <a href="http://blog.getpelican.com/">Pelican</a>. Theme by <a href="http://blog.aboutwilson.net/">Wilson Freitas</a>.</p>
		</div>
	</div>
</div>
<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function($) {
	$("div.collapseheader").click(function () {
		$header = $(this).children("span").first();
		$codearea = $(this).children(".input_area");
		$codearea.slideToggle(500, function () {
			$header.text(function () {
				return $codearea.is(":visible") ? "Collapse Code" : "Expand Code";
			});
		});
	});
});
</script>
{% include "analytics.html" %}
</body>
</html>
